{{>post-info post}}

{{#if loggedIn}}
<form class="post-form">
    <div>
        <textarea name="post-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/post.js"></script>
{{/if}}